<%= form_tag quota_search_path, method: :get, class: "tariff-search #{@section_css}", id: 'new_search' do |f| %>
  <h1 class="heading-large">Search the quotas</h1>
  <div class="grid-row">
    <div class="column-quarter">
      <%= label_tag :geographical_area_id, 'Origin' %>
    </div>
    <div class="column-half">
      <%= select_tag :geographical_area_id, options_from_collection_for_select(GeographicalArea.cached_areas, 'id', 'long_description', search_form.geographical_area_id), include_blank: true %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-quarter">
      <%= label_tag :order_number, 'Order number' %>
    </div>
    <div class="column-half">
      <%= text_field_tag :order_number, search_form.order_number %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-quarter">
      <%= label_tag :critical, 'Critical' %>
    </div>
    <div class="column-half">
      <%= select_tag :critical, options_for_select(QuotaSearchForm::CRITICAL_VALUES, search_form.critical), include_blank: true %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-quarter">
      <%= label_tag :status, 'Status' %>
    </div>
    <div class="column-half">
      <%= select_tag :status, options_for_select(QuotaSearchForm::STATUS_VALUES, search_form.status), include_blank: true %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-quarter">
      <%= label_tag :year, 'Years' %>
    </div>
    <div class="column-half">
      <% QuotaSearchForm::YEAR_VALUES.each do |year| %>
        <label>
          <%= check_box_tag 'year[]', year, year.in?(search_form.year) %>
          <%= year %>
        </label>
      <% end %>
    </div>
  </div>
  <input class="button" type="submit" name="new_search" value="Search">
<% end %>