<section class="a-z">
  <h1 class="govuk-heading-l">A&ndash;Z of Classified Goods</h1>
  <div class="inner">
    <ol class="index govuk-list">
      <%= a_z_index(letter) %>
    </ol>

    <table class="tariff-zebra index govuk-table">
      <caption class="govuk-heading-m"><%= letter.upcase %></caption>
      <tbody class="govuk-table__body">
      <% @search_references.each do |search_reference| %>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <%= link_to search_reference, search_reference.link %>
          </td>
          <td class="govuk-table__cell">
            <%= search_reference.referenced_class %>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
           <%= search_reference.referenced_id %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
