<%= form_tag chemical_search_path, method: :get, class: "tariff-search quota-search #{@section_css}", id: 'new_search' do |f| %>
  <h1 class="heading-large">Search by Chemical</h1>
  <div class="grid-row">
    <div class="column-one-quarter">
      <%= label_tag :type, 'CAS number' %>
    </div>
    <div class="column-three-quarter">
      <%= text_field_tag :cas, search_form.cas, class: "form-control form-control--small" %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-quarter">
      <%= label_tag :type, 'Chemical name' %>
    </div>
    <div class="column-three-quarter">
      <%= text_field_tag :name, search_form.name, class: "form-control form-control--medium" %>
    </div>
  </div>
  <input class="button" type="submit" name="new_search" value="Search">
<% end %>
