<%= form_tag chemical_search_path, method: :get, class: "tariff-search quota-search #{@section_css}", id: 'new_search' do |f| %>
  <h1 class="govuk-heading-l">Search by Chemical</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <%= label_tag :type, 'CAS number', class: 'govuk-label' %>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <%= text_field_tag :cas, search_form.cas, class: "govuk-input" %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <%= label_tag :type, 'Chemical name', class: 'govuk-label' %>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <%= text_field_tag :name, search_form.name, class: "govuk-input" %>
    </div>
  </div>
  <input class="button govuk-button" type="submit" name="new_search" value="Search">
<% end %>
