<% if heading.leaf? %>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell" width="30">
      <div class="heading-code">
        <div class="code-text"><%= heading.display_short_code %></div>
      </div>
    </td>
    <td class="govuk-table__cell">
      <%= link_to heading_path(heading, request.query_parameters.symbolize_keys)  do %>
        <span class="govuk-visually-hidden">Heading <%= heading.display_short_code %>: </span> <%= heading.formatted_description.html_safe %>
      <% end %>
    </td>
  </tr>
<% else %>
  <tr class="govuk-table__row">
    <td class="heading-subtitle govuk-table__cell" colspan="2"><%= heading %></td>
  </tr>
  <%= render heading.children %>
<% end %>
