<%= render partial: 'search/certificate/form', locals: { search_form: @result.search_form } %>
<% if @result.search_result&.any? %>
  <br/>
  <article class="search-results">
    <h1 class="heading-medium">Certificate search results</h1>
    <ul class="results-subset js-results-subset">
      <% @result.search_result.each do |certificate| %>
        <li>
          <div>
            <strong>
              <%= certificate.code %>
            </strong>
            <%= certificate.description %>
          </div>
          <% if certificate.measures.any? %>
            <% certificate.measures.sort_by(&:goods_nomenclature_item_id).each do |measure| %>
              <%= render partial: 'search/common/goods_nomenclature', object: measure.goods_nomenclature %>
            <% end %>
          <% else %>
            <div class="commodity">No valid goods nomenclatures are associated with certificate <a class="inline" href="<%= certificate_search_path(type: certificate.certificate_type_code, code: certificate.certificate_code) %>"><%= certificate.code %></a>.</div>
          <% end %>
        </li>
      <% end %>
    </ul>
  </article>
<% end %>
