<%= render partial: 'search/chemicals/form', locals: { search_form: @result.search_form } %>
<% if @result.search_result&.any? %>
  <br />
  <article class="search-results">
    <h1 class="govuk-heading-l">Chemical search results for &ldquo;<em><%= "#{@result.search_form.cas || @result.search_form.name}" %></em>&rdquo;</h1>
    <% @result.search_result.each do |chemical| %>
      <table class="govuk-table">
        <colgroup>
          <col width="*">
          <col width="200">
        </colgroup>
        <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-6">
          <strong>
            <%= chemical.cas %>
          </strong>
          <%= chemical.name %>
        </caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Name</th>
            <th class="govuk-table__header" scope="col">Code</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <%= render partial: 'search/common/goods_nomenclature', collection: @result.search_result.first.goods_nomenclatures.map{|gn| GoodsNomenclature.new(gn)} %>

        </tbody>
      </table>
    <% end %>
    <%= paginate @result.search_result %>
  </article>
<% elsif @result.with_errors %>
  <article class="search-results">
    <h1 class="govuk-heading-l">Sorry, there is a problem with the search query. Please specify one or more search criteria.</h1>
  </article>
<% elsif @result.search_form.present? %>
  <br/>
  <article class="search-results">
    <h1 class="govuk-heading-l">There are no matching results</h1>
  </article>
<% end %>
