<%= render partial: 'search/footnotes/form', locals: { search_form: @result.search_form } %>
<% if @result.search_result&.any? %>
  <br/>
  <article class="search-results">
    <h1 class="heading-medium">Footnote search results</h1>
    <ul class="results-subset js-results-subset">
      <% @result.search_result.each do |footnote|
          goods_nomenclatures = (footnote.measures.map(&:goods_nomenclature) | footnote.goods_nomenclatures)&.uniq(&:goods_nomenclature_item_id).sort_by(&:goods_nomenclature_item_id)
      %>
        <li>
          <div>
            <strong>
              <%= footnote.code %>
            </strong>
            <%= footnote.formatted_description.html_safe %>
          </div>

          <% if goods_nomenclatures.empty? %>
            <div class="commodity">No valid commodities are associated with footnote <a class="inline" href="<%= footnote_search_path(type: footnote.footnote_type_id, code: footnote.footnote_id) %>"><%= footnote.code %></a>.</div>
          <% else %>
            <%= render partial: 'search/common/goods_nomenclature', collection: goods_nomenclatures %>
          <% end %>
        </li>
      <% end %>
    </ul>
  </article>
<% elsif @result.with_errors %>
  <article class="search-results">
    <h1 class="heading-medium">Sorry, there is a problem with the search query. Please specify one or more search criteria.</h1>
  </article>
<% elsif @result.search_form.present? %>
  <br/>
  <article class="search-results">
    <h1 class="heading-medium">There are no matching results</h1>
  </article>
<% end %>
