<table class="small-table">
  <caption>
    <h5 class="heading-small"><%= condition_group[:condition] %></h5>
  </caption>
  <thead>
  <tr>
    <th>Document code</th>
    <th>Requirement</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% conditions.each do |condition| %>
    <tr>
      <% if condition.document_code.present? %>
        <td class="numerical"><%= condition.document_code %></td>
        <td>
          <%= condition.requirement %>
        </td>
      <% else %>
        <td>&nbsp;</td>
        <td>No document provided</td>
      <% end %>
      <td>
        <%= condition.action %>
        <br/>
        <%= condition.duty_expression.to_s.html_safe %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
