<table class="small-table">
  <caption>
    <h5 class="heading-small"><%= condition_group[:condition] %></h5>
  </caption>
  <thead>
  <tr>
    <th>Document code</th>
    <th>Requirement</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <% conditions.each do |condition| %>
    <tr>
      <% if condition.document_code.blank? %>
        <% if condition.requirement.blank? %>
          <td colspan="2">Condition not fulfilled</td>
        <% else %>
          <td colspan="2"><%= condition.requirement.to_s.html_safe %></td>
        <% end %>
      <% else %>
        <td class="numerical"><%= condition.document_code %></td>
        <td>
          <%= condition.requirement.to_s.html_safe %>
        </td>
      <% end %>
      <td><%= condition.action %></td>
    </tr>
  <% end %>
  </tbody>
</table>
