<table class="govuk-table govuk-!-margin-bottom-2">
  <caption class="govuk-table__caption govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-3"><%= condition_group[:condition] %></caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Document code</th>
      <th scope="col" class="govuk-table__header">Requirement</th>
      <th scope="col" class="govuk-table__header">Action</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
  <% conditions.each do |condition| %>
    <tr class="govuk-table__row">
      <% if condition.document_code.blank? %>
        <% if condition.requirement.blank? %>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell">Condition not fulfilled</td>
        <% else %>
          <td class="govuk-table__cell">&nbsp;</td>
          <td class="govuk-table__cell"><%= condition.requirement.to_s.html_safe %></td>
        <% end %>
      <% else %>
        <td class="govuk-table__cell numerical"><%= condition.document_code %></td>
        <td class="govuk-table__cell">
          <%= condition.requirement.to_s.html_safe %>
        </td>
      <% end %>
      <td class="govuk-table__cell numerical">
        <%= condition.action %>
        <br/>
        <%= condition.duty_expression.to_s.html_safe %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
