<% if controller_name == 'commodities' && action_name == 'show' || controller_name == 'headings' && action_name == 'show' && @heading.declarable? %>
  <header>
    <a class="back-to-previous" href="<%= @back_path %>">Back <span class="visuallyhidden"> to the list of commodities</span></a>
    <h1 class="heading-large">Commodity information for <%= (@commodity || @heading).code %></h1>
    <%= form_tag perform_search_path, method: :get, class: "tariff-search #{@section_css}", id: "new_search" do |f| %>
      <div class="grid-row">
        <div class="column-full">
          <div class="search-header">
            <div class="searchfield form-group">
              <%= render 'shared/search_date_picker' %>
              <%= render 'shared/currency_picker' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </header>
<% elsif controller_name != 'search' && action_name != 'quota_search' %>
  <header>
    <h1 class="heading-large"><a href="<%= sections_path %>">Trade Tariff: look up commodity codes, duty and VAT rates</a></h1>
  </header>
  <%= form_tag perform_search_path, method: :get, class: "tariff-search #{@section_css}", id: "new_search" do |f| %>
    <div class="grid-row">
      <div class="column-two-thirds">
        <div class="search-header js-search-header">
          <div class="searchfield form-group">
            <fieldset class="search-input">
              <%= label_tag :q, "Search the tariff", class: 'form-label' %>
              <%= select_tag :q, options_for_select([@search.q ]), name: 'q', class: 'js-commodity-picker-select form-control' %>
            </fieldset>
            <fieldset class="search-submit">
              <input class="button" type="submit" name="new_search" value="Search">
            </fieldset>
          </div>
          <%= render 'shared/search_date_picker' %>
          <%= render 'shared/currency_picker' %>
        </div>
        <fieldset class="flash">
          <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
        </fieldset>
      </div>
    </div>
  <% end %>
<% end %>
