<% return if @no_shared_search %>

<% if (controller_name == 'commodities' && action_name == 'show') || (controller_name == 'headings' && action_name == 'show' && @heading&.declarable?) %>
  <header>
    <h1 class="govuk-heading-l commodity-header">Commodity information for <%= (@commodity || @heading).code %></h1>
    <%= form_tag perform_search_path, method: :get, class: "tariff-search #{@section_css}", id: "new_search" do |f| %>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <div class="search-header">
            <div class="searchfield govuk-form-group">
              <%= render 'shared/search_date_picker' %>
              <%= render 'shared/currency_picker' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </header>
<% elsif %w(search search_references exchange_rates pages errors feedback).exclude?(controller_name) && action_name != 'quota_search' %>
  <header>
    <h1 class="govuk-heading-l"><a href="<%= sections_path %>">Trade Tariff: look up commodity codes, duty and VAT rates</a></h1>
  </header>
  <%= form_tag perform_search_path, method: :get, class: "tariff-search #{@section_css}", id: "new_search" do |f| %>
    <div class="search-header js-search-header">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <div class="searchfield govuk-form-group">
            <fieldset class="govuk-fieldset govuk-search-input">
              <%= label_tag :q, "Search the tariff", class: 'govuk-label' %>
              <%= hidden_field_tag :q, @search.q, { class: "js-commodity-picker-target" } %>
              <div class='js-commodity-picker-select js-show'></div>
              <noscript>
                <%= text_field_tag(:q, @search.q, {class: "govuk-input", name: :q}) %>
              </noscript>
            </fieldset>
            <fieldset class="govuk-fieldset search-submit">
              <input class="govuk-button" type="submit" name="new_search" value="Search">
            </fieldset>
          </div>
        </div>
      </div>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          <%= render 'shared/search_date_picker' %>
          <%= render 'shared/currency_picker' %>
        </div>
      </div>
      <fieldset class="govuk-fieldset flash">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </fieldset>
    </div>
  <% end %>
<% end %>

<%= breadcrumbs %>
