<% section ||= false
chapter ||= false
heading ||= false
declarable ||= false %>

<div class="tariff-breadcrumbs js-tariff-breadcrumbs clt govuk-!-font-size-16">
  <nav>
    <% if declarable %>
      <p>
        Section <%= declarable.section_numeral %>: <%= declarable.section %>
      </p>
      <div class="desktop-only">

        <ul>
          <li class="chapter-li">
            <%= tree_chapter_code(declarable.chapter) %>
            <%= link_to declarable.chapter, chapter_path(declarable.chapter, request.query_parameters.symbolize_keys) %>
            <ul>
              <li class="heading-li">
                <%= tree_heading_code(declarable.heading) unless declarable.heading? %>
                <% if declarable.show_commodity_tree? %>
                  <%= link_to declarable.heading.to_s.html_safe, heading_path(declarable.heading, request.query_parameters.symbolize_keys) %>
                  <%= commodity_tree(declarable, declarable.ancestors) %>
                <% else %>
                  <%= declarable_heading(declarable) %>
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="mobile-only">
        <ul class="js-full-tree">
          <li>
            <%= link_to "Section #{declarable.section_numeral}: #{declarable.section}", section_path(declarable.section, request.query_parameters.symbolize_keys), class: "section-link" %>
            <ul>
              <li class="chapter-li">
                <%= link_to declarable.chapter, chapter_path(declarable.chapter, request.query_parameters.symbolize_keys) %>
                <%= tree_chapter_code(declarable.chapter) %>
                <ul>
                  <li class="heading-under-chapter-li">
                    <% if declarable.show_commodity_tree? %>
                      <%= link_to declarable.heading.to_s.html_safe, heading_path(declarable.heading, request.query_parameters.symbolize_keys) %>
                      <%= tree_heading_code(declarable.heading) unless declarable.heading? %>
                      <%= commodity_tree(declarable, declarable.ancestors) %>
                    <% else %>
                      <%= declarable_heading(declarable) %>
                    <% end %>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="js-summary-tree">
          <li>
            <a href="#" class="show-full-tree-link js-show-full-tree-link">[Show all]</a>
            <ul>
              <% if declarable.show_commodity_tree? %>
                  <%= commodity_heading_full(declarable) %>
                <% else %>
                  <%= declarable_heading_full(declarable) %>
                <% end %>
            </ul>
          </li>
        </ul>
      </div>

    <% elsif heading %>
      <p>
        Section <%= heading.section.numeral %>: <%= heading.section.title %>
      </p>
      <div class="desktop-only">
        <ul>
          <li class="chapter-li">
            <%= tree_chapter_code(heading.chapter) %>
            <div class="line-text">
              <%= link_to heading.chapter, chapter_path(heading.chapter, request.query_parameters.symbolize_keys) %>
            </div>
            <ul>
              <li class="heading-li">
                <%= tree_heading_code(heading) %>
                <div class="line-text">
                  <%= heading.formatted_description.html_safe %>
                </div>
              </li>
            </ul>
          </li>
        </ul>
        <div class="feed"><%= link_to 'Changes', heading_changes_path(@heading.declarable, format: :atom), rel: "nofollow" %></div>
      </div>
      <div class="mobile-only">
        <ul class="js-full-tree">
          <li class="chapter-li">
            <%= tree_chapter_code(heading.chapter) %>
            <%= link_to heading.chapter, chapter_path(heading.chapter, request.query_parameters.symbolize_keys) %>
            <ul>
              <li class="heading-li">
                <div class="heading-code">
                  <div class="code-text"><%= heading.heading_display_short_code %></div>
                </div>
                <p><%= heading.formatted_description.html_safe %></p>
                <div class="feed"><%= link_to 'Changes', heading_changes_path(@heading.declarable, format: :atom), rel: "nofollow" %></div>
              </li>
            </ul>
          </li>
        </ul>
        <ul class="mobile-only js-summary-tree">
          <li>
            <a href="#" class="show-full-tree-link js-show-full-tree-link">[Show all]</a>
            <ul>
              <li class="chapter-and-heading-li">
                <div class="chapter-code">
                  <div class="code-text"><%= heading.chapter_short_code  %></div>
                </div><div class="heading-code">
                  <div class="code-text"><%= heading.heading_display_short_code %></div>
                </div>
                <p><%= heading.formatted_description.html_safe %></p>
                <div class="feed"><%= link_to 'Changes', heading_changes_path(@heading.declarable, format: :atom), rel: "nofollow" %></div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    <% elsif chapter %>
      <p>
        Section <%= chapter.section_numeral %>: <%= chapter.section %>
      </p>
      <ul>
        <li class="chapter-li">
          <%= tree_chapter_code(chapter) %>
          <%= chapter %>

          <div class="feed"><%= link_to 'Changes', chapter_changes_path(@chapter, format: :atom), rel: 'nofollow' %></div>
          <% if TradeTariffFrontend.download_pdf_enabled? %>
            <div class="download-pdf"><%= link_to 'Download PDF', download_chapter_pdf_url(chapter.section.position, chapter.short_code), rel: 'nofollow', target: '_blank' %></div>
          <% end %>
        </li>
      </ul>

    <% elsif section %>
      <p><strong><%= "Section #{section.numeral}: #{section}" %></strong></p>
    <% end %>
  </nav>
</div>
