<tr class="govuk-table__row">
  <td class="title govuk-table__cell">
    <%= link_to section_path(section, request.query_parameters.symbolize_keys)  do %>
      <span class="govuk-visually-hidden">Section <%= section.position %>: </span> <%=  section %>
    <% end %>
  </td>
  <td class="numeral govuk-table__cell">Section <%= section.numeral %></td>
  <td class="chapters govuk-table__cell"><%= section.chapters_title %></td>
</tr>
