<%= form_tag footnote_search_path, method: :get, class: "tariff-search quota-search #{@section_css}", id: 'new_search' do |f| %>
  <h1 class="govuk-heading-l">Search by Footnote</h1>
  <div class="govuk-grid-row">
    <div class="column-one-eighth">
      <%= label_tag :type, 'Type', class: 'govuk-label' %>
    </div>
    <div class="column-seven-eighth">
      <%= select_tag :type, options_for_select(search_form.footnote_types, search_form.type), include_blank: true, class: "govuk-input govuk-!-width-one-half" %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="column-one-eighth">
      <%= label_tag :code, 'Code', class: 'govuk-label' %>
    </div>
    <div class="column-seven-eighth">
      <%= text_field_tag :code, search_form.code, class: "govuk-input govuk-!-width-one-quarter" %>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="column-one-eighth">
      <%= label_tag :code, 'Description', class: 'govuk-label' %>
    </div>
    <div class="column-seven-eighth">
      <%= text_field_tag :description, search_form.description, class: "govuk-input govuk-input--width-100" %>
    </div>
  </div>
  <input class="button govuk-button" type="submit" name="new_search" value="Search">
<% end %>
