<div class="exchange-rate-page">
  <header class="header-hero">
    <div class="header-hero__title">
      <p class="lede header-hero__title-context">
        Guidance
      </p>
      <h1 class="heading-xlarge header-hero__title-text">
        Monthly euro conversion rates for calculating duty
      </h1>
    </div>


    <p class="header-hero__secondary-info">Updated 30 October 2018</p>
  </header>

  <div class="grid-row sidebar-with-body" data-module="sticky-element-container" id="contents">
    <div class="column-full-mobile-only column-one-quarter-desktop-only">
      <nav role="navigation" class="contents-list" data-module="track-click">
        <h2>Contents</h2>

        <ol class="contents-list__list">
          <% @years.each do |year| %>
            <li>
              <a href="#rates-for-<%= year %>">Rates for <%= year %></a>
            </li>
          <% end %>
        </ol>
      </nav>
    </div>

    <!-- <div class="print-wrapper">
      <div class="print-meta-data">
        <p>
          <img class="print-meta-data-licence" src="https://assets.publishing.service.gov.uk/government-frontend/open-government-licence-min-e98134ae65ff5fe99a524d8c383350b3998f91c298dc24b36126e65f1656c578.png">
        </p>
        <p>
          © Crown copyright 2018
        </p>
        <p>
          This publication is licensed under the terms of the Open Government Licence v3.0 except where otherwise stated. To view this licence, visit <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3">nationalarchives.gov.uk/doc/open-government-licence/version/3</a> or write to the Information Policy Team, The National Archives, Kew, London TW9 4DU, or email: <a href="mailto:psi@nationalarchives.gsi.gov.uk">psi@nationalarchives.gsi.gov.uk</a>.
        </p>
        <p>
          Where we have identified any third party copyright information you will need to obtain permission from the copyright holders concerned.
        </p>
        <p>
          This publication is available at https://www.gov.uk/government/publications/rates-and-allowances-monthly-euro-conversion-rates-for-calculating-duty/monthly-euro-conversion-rates-for-calculating-duty
        </p>
      </div>
    </div> -->

    <div class="column-full-mobile-only column-three-quarters-desktop-only">
      <div class="gem-c-govspeak-html-publication">
        <div class="gem-c-govspeak govuk-govspeak direction-ltr">
          <div class="govspeak">
            <form action="" method="get">
              <fieldset class="js-date-picker date-picker font-xsmall form-group">
                <span class="fields">This exchange rate is for
                  <label class="visuallyhidden" for="tariff_date_day">Day</label>
                  <%= select_day(@search.date, {}, { id: 'tariff_date_day', name: 'day' }) %>
                  <label class="visuallyhidden" for="tariff_date_month">Month</label>
                  <%= select_month(@search.date, {}, { id: 'tariff_date_month', name: 'month' }) %>
                  <label class="visuallyhidden" for="tariff_date_year">Year</label>
                  <%= select_year(@search.date, {end_year: 2008, start_year: Date.current.year + 1 }, { id: 'tariff_date_year', name: 'year' }) %>&emsp;
                  <a class="submit" role="button" href="#set-date" title="set date" rel="nofollow">Set date</a>
                </span>
                <span class="text <%= @section_css %>">
                  This exchange rate is for <%= @search.date.to_formatted_s(:long) %>&emsp;
                  <a href="#change-date" title="change date" rel="nofollow">Change date</a>
                </span>
              </fieldset>
            </form>

            <p>These industrial euro conversion rates are for calculating duty, not converting the cost amount of importing into sterling.</p>

            <p>The conversion should be used when consulting the tariff and when the duty rates are expressed in euros. This is different to the monthly exchange rates which are used for converting the amounts associated with costs of importing to sterling, such as the item price or freight costs.</p>

            <div class="current-rate">
              <div class="data">
                <span class="data-item bold-xlarge current-rate__pound">
                  1 GBP
                  <span class="current-rate__big-arrow"></span>
                  <span class="current-rate__accent">
                    1.12710346 EUR
                  </span>
                </span>
                <span class="data-item bold-large current-rate__inverse">
                  1 EUR
                  <span class="current-rate__small-arrow"></span>
                  0.88723 GBP
                </span>
              </div>
            </div>

            <% @years.each do |year| %>

              <h2 class="heading-medium" id="rates-for-<%= year %>">Rates for <%= year %></h2>

              <table>
                <thead>
                  <tr>
                    <th>Effective date</th>
                    <th>Multiply euros</th>
                    <th>Or divide euros</th>
                  </tr>
                </thead>
                <tbody>
                  <% @rates[year].each do |rate| %>
                    <tr>
                      <td><%= rate.validity_start_date.strftime("%d %B %Y") %></td>
                      <td><%= rate.exchange_rate %></td>
                      <td><%= rate.inverse_rate %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div data-sticky-element class="govuk-sticky-element">
      <a class="app-c-back-to-top dont-print" href="#contents">
        <svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17">
          <path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path>
        </svg>
        Contents
      </a>
    </div>
  </div>
</div>
