<% content_for :before_main_content do %>
  <%= generate_breadcrumbs(
      t('breadcrumb.tools'),
      [
        [t('breadcrumb.home'), root_path]
      ]
    )
  %>
<% end %>

<div class="govuk-grid-row">
  <div class="column-full-witdh">
    <span class="govuk-caption-xl govuk-!-margin-top-0"><%= trade_tariff_heading %></span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-5">Tariff tools</h1>
    <div class="tariff-breadcrumbs js-tariff-breadcrumbs clt govuk-!-font-size-15 govuk-!-margin-bottom-7">
      <nav>
        <p>Switch to <%= switch_service_link %></a>.</p>
      </nav>
    </div>
    <ul class="govuk-list">        
      <li>
        <p>
          <%= link_to t('breadcrumb.quotas'), quota_search_path %>
          <br>
          Search for tariff quotas, including daily updated balances.
        </p>
      </li>
      <li>
        <p>
          <%= link_to "Certificate, licenses and documents", certificate_search_path %>
          <br>
          Search for certificates, licenses and other document codes.
        </p>
      </li>
      <li>
        <p>
          <%= link_to t('breadcrumb.additional_codes'), additional_code_search_path %>
          <br>
          Search for additional codes. Additional codes are used on the tariff for a number of purposes to help ypu to classify goods accurately on your customs declaration.
        </p>
      </li>
      <li>
        <p>
          <%= link_to t('breadcrumb.chemicals'), chemical_search_path %>
          <br>Search the tariff for chemicals by <abbr title="Chemical Abstracts Service">CAS</abbr> Registry Number (RN)
        </p>
      </li>
    </ul>
  </div>
</div>
