<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <div class="chapter-code">
      <span class="code-text"><%= chapter.short_code %></span>
    </div>
  </td>
  <td class="govuk-table__cell">
    <%= link_to chapter_path(chapter, request.query_parameters.symbolize_keys) do %>
      <span class="govuk-visually-hidden">Chapter <%= chapter.short_code %>: </span> <%= chapter %>
    <% end %>
    <%= render partial: 'chapters/chapter_guides', locals: {chapter: chapter} %>
  </td>
</tr>
