<tr id="measure-<%= measure.id %>" class="<%= measure.geo_class %>" tabIndex="-1">
  <td>
    <% if measure.has_children_geographical_areas? %>
      <dl>
        <dt class="has_children" role="button" aria-expanded="false" aria-controls="measure-<%= measure.id %>-children-geographical-areas">
          <%= measure.geographical_area.long_description %>
        </dt>
        <dd aria-hidden="true" id="measure-<%= measure.id %>-children-geographical-areas">
          <ul class="govuk-list">
            <% measure.children_geographical_areas.each do |children_geographical_area| %>
              <li tabindex="-1"><%= children_geographical_area.long_description %></li>
            <% end %>
          </ul>
        </dd>
      </dl>
    <% else %>
      <%= measure.geographical_area.long_description %>
    <% end %>
  </td>

  <td class="<%= measure.measure_type.id %>">
    <span class='table-line'><%= measure.measure_type.description %></span>
    <% if measure.order_number.present? %>
      <span class='table-line'>
        <%= render measure.order_number %>
      </span>
    <% end %>
    <% if measure.additional_code.present? %>
      <span class='table-line'>
        Additional code: <strong><%= measure.additional_code.code %></strong>
      </span>

      <% if measure.additional_code.formatted_description.present? %>
        <span class='table-line'>
          <%= raw measure.additional_code.formatted_description %>
        </span>
      <% end %>
    <% end %>
  </td>

  <td class="numerical">
    <%= filter_duty_expression(measure) %>
  </td>

  <td>
    <% if measure.has_measure_conditions? %>
      <%= link_to "Conditions",  "#", class: 'reference', 'data-popup-ref' => "#{measure.destination}-#{measure.id}-conditions", "aria-label": "Click to open a dialog with the conditions for this measure", role: "button" %>
    <% end %>
  </td>

  <td><%= measure.excluded_country_list %></td>

  <% if TradeTariffFrontend.regulations_enabled? && TradeTariffFrontend.uk_regulations_enabled? %>
    <td class="numerical">
      <% if measure.legal_acts.present? %>
        <%= link_to measure.legal_acts.first.national_public_id, "#", class: 'reference', 'data-popup-ref' => "#{measure.id}-regulations", "aria-label": "Legal base: #{measure.legal_acts.first.national_public_id}. Click to open a dialog with all the legal bases for this measure", role: "button" %>
      <% end %>
    </td>
  <% elsif TradeTariffFrontend.regulations_enabled? %>
    <td class="numerical">
      <% if !measure.national? && measure.legal_acts.present? %>
        <%= link_to measure.legal_acts.first.regulation_code, "#", class: 'reference', 'data-popup-ref' => "#{measure.id}-regulations", "aria-label": "Legal base: #{measure.legal_acts.first.regulation_code}. Click to open a dialog with all the legal bases for this measure", role: "button" %>
      <% end %>
    </td>
  <% end %>

  <td class="numerical">
    <%= measure.effective_start_date %><% if measure.effective_end_date.present? %><br>(<%= measure.effective_end_date %>)<% end %>
    <% if measure.suspension_legal_act.present? %>
      <br />
      <%- if TradeTariffFrontend.regulations_enabled? -%>
        <a class="suspended" href="<%= measure.suspension_legal_act.regulation_url %>" target="_blank">
          Suspended from <%= measure.suspension_legal_act.validity_start_date %>
          <% if measure.suspension_legal_act.validity_end_date %>
            to <%= measure.suspension_legal_act.validity_end_date %>
          <% end %>
        </a>
        <%- else -%>
          Suspended from <%= measure.suspension_legal_act.validity_start_date %> to <%= measure.suspension_legal_act.validity_end_date %>
        <% end %>
    <% end %>
  </td>

  <td class="numerical">
    <% if measure.has_measure_footnotes? %>
      <%= link_to measure.footnotes.size == 1 ? measure.footnotes.first.code : "Footnotes",  "#", class: 'reference', 'data-popup-ref' => "#{measure.destination}-#{measure.id}-footnotes", "aria-label": "Click to open a dialog with the footnotes for this measure", role: "button" %>
    <% end %>
  </td>
</tr>
