<% if measure.has_measure_conditions? %>
<div class='conditions' id='<%= measure.id %>' data-popup='<%= measure.destination %>-<%= measure.id %>-conditions'>
  <article>
    <table class="small-table">
      <caption>
        <h2 class="heading-medium"><%= measure.measure_type.description %> for <%= measure.geographical_area.description %></h2>
      </caption>
      <thead>
        <tr>
          <th>Condition</th>
          <th>Document code</th>
          <th>Requirement</th>
          <th>Action</th>
          <th>Duty expression</th>
        </tr>
      </thead>
      <tbody>
        <%= render partial: "measure_conditions/measure_condition", collection: measure.measure_conditions, locals: { measure: measure } %>
      </tbody>
    </table>
  </article>
</div>
<% end %>

<% if !measure.national? && measure.legal_act.present? %>
  <div class='regulations' id='<%= measure.legal_act.url_safe_code %>' data-popup='<%= measure.destination %>-<%= measure.legal_act.url_safe_code %>-regulations'>
    <article>
      <table class="small-table">
        <caption>
          <h2>Legal base</h2>
        </caption>
        <thead>
          <tr>
            <th>Regulation No.</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Publication date</th>
            <th>Journal No.</th>
            <th>Journal page</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to measure.legal_act.generating_regulation_code, measure.legal_act.url, target: '_blank', rel: 'external', class: 'print-link-without-description' %>
            </td>
            <td><%= measure.legal_act.validity_start_date %></td>
            <td><%= measure.legal_act.validity_end_date %></td>
            <td><%= measure.legal_act.published_date %></td>
            <td><%= measure.legal_act.officialjournal_number %></td>
            <td><%= measure.legal_act.officialjournal_page %></td>
          </tr>
        </tbody>
      </table>
    </article>
  </div>
<% end %>

<% if measure.has_measure_footnotes? %>
  <div class='footnotes' id='<%= measure.id %>' data-popup='<%= measure.destination %>-<%= measure.id %>-footnotes'>
    <article>
      <table class="small-table">
        <caption>
          <h2 class="heading-medium"><%= measure.measure_type.description %> for <%= measure.geographical_area.description %></h2>
        </caption>
        <thead>
        <tr>
          <th>Code</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: "footnotes/footnote", collection: measure.footnotes, locals: { measure: measure } %>
        </tbody>
      </table>
    </article>
  </div>
<% end %>

<%= render measure.additional_code if measure.has_additional_code? %>
