<tr id="measure-<%= measure.id %>" class="<%= measure.geo_class %>" tabIndex="-1">
  <td>
    <% if measure.has_children_geographical_areas? %>
      <dl>
        <dt class="has_children">
          <%= measure.geographical_area.description %>
        </dt>
        <dd>
          <ul>
            <% measure.children_geographical_areas.each do |children_geographical_area| %>
              <li><%= children_geographical_area.description %> (<%= children_geographical_area.id %>)</li>
            <% end %>
          </ul>
        </dd>
      </dl>
    <% else %>
      <%= measure.geographical_area.long_description %>
    <% end %>
  </td>

  <td class="<%= measure.measure_type.id %>">
    <span class='table-line'><%= measure.measure_type.description %></span>
    <% if measure.order_number.present? %>
      <span class='table-line'>
        <%= render measure.order_number %>
      </span>
    <% end %>
    <% if measure.additional_code.present? %>
      <span class='table-line'>
        Additional code: <strong><%= measure.additional_code.code %></strong>
      </span>

      <% if measure.additional_code.formatted_description.present? %>
        <span class='table-line'>
          <%= raw measure.additional_code.formatted_description %>
        </span>
      <% end %>
    <% end %>
  </td>

  <td class="numerical">
    <%= filter_duty_expression(measure.duty_expression.to_s.html_safe) %>
  </td>

  <td>
    <% if measure.has_measure_conditions? %>
      <%= link_to "Conditions",  "##{measure.destination}-#{measure.id}-conditions", class: 'reference', 'data-popup-ref' => "#{measure.destination}-#{measure.id}-conditions" %>
    <% end %>
  </td>

  <td><%= measure.excluded_country_list %></td>

  <td class="numerical">
    <% if !measure.national? && measure.legal_act.present? %>
      <%= link_to measure.legal_act.generating_regulation_code, "##{measure.destination}-#{measure.legal_act.url_safe_code}-regulations", class: 'reference', 'data-popup-ref' => "#{measure.destination}-#{measure.legal_act.url_safe_code}-regulations" %>
    <% end %>
  </td>

  <td class="numerical">
    <%= measure.effective_start_date %><% if measure.effective_end_date.present? %><br>(<%= measure.effective_end_date %>)<% end %>
    <% if measure.suspension_legal_act.present? %>
      <br />
      <a class="suspended" href="<%= measure.suspension_legal_act.url %>" target="_blank">
        Suspended from <%= measure.suspension_legal_act.validity_start_date %>
        <% if measure.suspension_legal_act.validity_end_date %>
          to <%= measure.suspension_legal_act.validity_end_date %>
        <% end %>
      </a>
    <% end %>
  </td>

  <td class="numerical">
    <% if measure.has_measure_footnotes? %>
      <%= link_to "Footnotes",  "##{measure.destination}-#{measure.id}-footnotes", class: 'reference', 'data-popup-ref' => "#{measure.destination}-#{measure.id}-footnotes" %>
    <% end %>
  </td>
</tr>
