<% if measure.has_measure_conditions? %>
<div class='conditions' id='<%= measure.id %>' data-popup='<%= measure.destination %>-<%= measure.id %>-conditions'>
  <article>
    <h2 class="govuk-heading-m"><%= measure.measure_type.description %> for <%= measure.geographical_area.description %></h2>
    <% measure.grouped_measure_conditions.each do |condition_group, conditions| %>
      <%= render partial: "measure_conditions/measure_condition_code_#{condition_group[:partial_type]}", locals: { condition_group: condition_group, conditions: conditions } %>
      <br>
    <% end %>
  </article>
</div>
<% end %>

<% if !measure.national? && measure.legal_acts.present? && TradeTariffFrontend.regulations_enabled? %>
  <div class='regulations' id='<%= measure.id %>' data-popup='<%= measure.id %>-regulations'>
    <article>
      <table class="small-table govuk-table">
        <caption>
          <h2>Legal base</h2>
        </caption>
        <thead>
          <tr>
            <th>Regulation No.</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Publication date</th>
            <th>Journal No.</th>
            <th>Journal page</th>
          </tr>
        </thead>
        <tbody>
          <% measure.legal_acts.each do |legal_act| %>
            <tr>
              <td>
                <%= link_to legal_act.regulation_code, legal_act.regulation_url, target: '_blank', rel: 'external', class: 'print-link-without-description' %>
              </td>
              <td><%= legal_act.validity_start_date %></td>
              <td><%= legal_act.validity_end_date %></td>
              <td><%= legal_act.published_date %></td>
              <td><%= legal_act.officialjournal_number %></td>
              <td><%= legal_act.officialjournal_page %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </article>
  </div>
<% end %>

<% if measure.has_measure_footnotes? %>
  <div class='footnotes' id='<%= measure.id %>' data-popup='<%= measure.destination %>-<%= measure.id %>-footnotes'>
    <article>
      <table class="small-table govuk-table">
        <caption>
          <h2 class="govuk-heading-m"><%= measure.measure_type.description %> for <%= measure.geographical_area.description %></h2>
        </caption>
        <thead>
        <tr>
          <th>Code</th>
          <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <%= render partial: "footnotes/footnote", collection: measure.footnotes, locals: { measure: measure } %>
        </tbody>
      </table>
    </article>
  </div>
<% end %>

<%= render measure.additional_code if measure.has_additional_code? %>
