<%= form_tag feedback_path, class: 'feedback-form' do %>
  <h1 class="heading-large">Send your feedback</h1>

  <p class="form-hint">
    Don't include any personal information. This form is for submitting feedback. If you have a question
    related to classifying a good then
    <%= link_to 'please contact HMRC', 'https://www.gov.uk/government/organisations/hm-revenue-customs/contact/vat-enquiries', target: '_blank' %>.
  </p>

  <fieldset>
    <div class="form-group">
      <%= label_tag :message, 'Did something go wrong? What went well? How can we improve the service?' %>
      <%= text_area_tag :message, '', maxlength: 500, rows: 5 %>
      <p>(Max 500 characters).</p>
    </div>
  </fieldset>

  <p>Leave your name and email address in case we need to contact you.</p>

  <fieldset>
    <div class="form-group">
      <%= label_tag :name, 'Name (optional)' %>
      <%= text_field_tag :name %>
    </div>
  </fieldset>

  <fieldset>
    <div class="form-group">
      <%= label_tag :email, 'Email (optional)' %>
      <%= text_field_tag :email %>
    </div>
  </fieldset>

  <%= submit_tag 'Submit feedback', class: 'button' %>
<% end %>
