<%= form_tag certificate_search_path, method: :get, class: "tariff-search quota-search #{@section_css}", id: 'new_search' do |f| %>
  <h1 class="heading-large">Search by Certificate</h1>
  <div class="grid-row">
    <div class="column-one-eighth">
      <%= label_tag :type, 'Type' %>
    </div>
    <div class="column-seven-eighth">
      <%= select_tag :type, options_for_select(search_form.certificate_types, search_form.type), include_blank: true, class: "form-control form-control--large" %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-eighth">
      <%= label_tag :code, 'Code' %>
    </div>
    <div class="column-seven-eighth">
      <%= text_field_tag :code, search_form.code, class: "form-control form-control--tiny" %>
    </div>
  </div>
  <div class="grid-row">
    <div class="column-one-eighth">
      <%= label_tag :code, 'Description' %>
    </div>
    <div class="column-seven-eighth">
      <%= text_field_tag :description, search_form.description, class: "form-control form-control--100" %>
    </div>
  </div>
  <input class="button" type="submit" name="new_search" value="Search">
<% end %>
