<% content_for :page_title, content_for?(:title) ? yield(:title) : "Trade Tariff: look up commodity codes, duty and VAT rates - GOV.UK" %>

<% content_for :head do %>
  <!--[if gt IE 8]><!--><%= stylesheet_link_tag "application.css" %><!--<![endif]-->
  <!--[if IE 6]><%= stylesheet_link_tag "application-ie6.css" %><![endif]-->
  <!--[if IE 7]><%= stylesheet_link_tag "application-ie7.css" %><![endif]-->
  <!--[if IE 8]><%= stylesheet_link_tag "application-ie8.css" %><![endif]-->
  <%= stylesheet_link_tag 'tariff-print', media: 'print' %>
  <%= csrf_meta_tags %>

  <meta name="x-section-name" content="Business" />
  <meta name="x-section-link" content="/browse/business" />
  <meta name="x-section-format" content="trade-tariff" />
  <meta name="format-detection" content="telephone=no">

  <% if @meta_description %>
    <meta name="description" content="<%= @meta_description %>">
  <% end %>

  <meta name="govuk:section" content="business and self-employed">

  <link rel="search" type="application/opensearchdescription+xml" href="<%= opensearch_url(format: :xml) %>" title="Trade Tariff Search" />

<% end %>

<% content_for :header_class, 'with-proposition' %>
<% content_for :proposition_header do %>
  <div class="header-proposition">
    <div class="content">
      <a href="#proposition-links" class="js-header-toggle menu">Menu</a>
      <nav id="proposition-menu">
        <a href="<%= sections_path %>" id="proposition-name">Trade Tariff</a>
        <ul id="proposition-links">
          <li><%= link_to "Search", sections_path, class: search_active_class %></li>
          <li><%= link_to "Additional code", additional_code_search_path, class: additional_code_search_class %></li>
          <li><%= link_to "Quotas", quota_search_path, class: quota_search_active_class %></li>
          <li><%= link_to "A-Z", a_z_index_path(letter: "a"), class: a_z_active_class %></li>
          <li><%= link_to "Exchange rates", exchange_rates_path, class: exchange_rates_active_class %></li>
          <li><%= link_to "Forum", "https://forum.trade-tariff.service.gov.uk/", target: "_blank", data: { analytics_event: "forums" } %></li>
        </ul>
      </nav>
    </div>
  </div>
<% end %>

<% content_for :footer_top do %>
  <div class="footer-categories">
    <div class="footer-explore">
      <h2>Prepare for EU Exit</h2>

      <ul>
        <li><a href="https://www.gov.uk/business-uk-leaving-eu" target="_blank">Prepare your business for the UK leaving the EU</a></li>
        <li><a href="https://www.gov.uk/prepare-eu-exit" target="_blank">Prepare for EU Exit if you live in the UK</a></li>
      </ul>
      <ul>
        <li><a href="https://www.gov.uk/uk-nationals-living-eu" target="_blank">Living in Europe after the UK leaves the EU</a></li>
        <li><a href="https://www.gov.uk/staying-uk-eu-citizen" target="_blank">Continue to live in the UK after it leaves the EU</a></li>
      </ul>
    </div>
  </div>
  <nav class="footer-categories">
    <div class="footer-category">
      <h2>Contact</h2>
      <ul>
        <li><a target="_blank" href="https://www.gov.uk/guidance/ask-hmrc-for-advice-on-classifying-your-goods">Ask HMRC for advice on classifying your goods</a></li>
        <li><a target="_blank" href="https://www.gov.uk/government/organisations/hm-revenue-customs/contact/customs-international-trade-and-excise-enquiries">Imports and exports: general enquiries</a></li>
        <li><%= link_to 'Feedback', feedback_path %></li>
      </ul>
    </div>

    <div class="footer-category">
      <h2>Help</h2>
      <ul>
        <!-- <li><a href="#">How to use the Tariff</a></li> -->
        <li><a target="_blank" href="https://www.gov.uk/guidance/finding-commodity-codes-for-imports-or-exports">Finding commodity codes for imports or exports</a></li>
        <li><a target="_blank" href="https://www.gov.uk/guidance/using-the-trade-tariff-tool-to-find-a-commodity-code">Using the Trade Tariff tool to find a commodity code</a></li>
        <li><a target="_blank" href="https://www.gov.uk/topic/business-tax/import-export">Import and export</a></li>
      </ul>
    </div>

    <div class="footer-category">
      <h2>Related information</h2>
      <ul>
        <li><a target="_blank" href="https://www.gov.uk/government/collections/uk-trade-tariff-volume-1">UK Trade Tariff: Volume 1 &ndash; background information for importers and exporters</a></li>
        <li><a target="_blank" href="https://www.gov.uk/government/collections/uk-trade-tariff-volume-3">UK Trade Tariff: Volume 3 &ndash; procedures, codes and declaration entry details</a></li>
        <%- if TradeTariffFrontend.regulations_enabled? -%>
          <li><a target="_blank" href="http://ec.europa.eu/taxation_customs/dds2/taric/taric_consultation.jsp?Lang=en&Screen=0&Expand=true">Integrated tariff of the European Community (TARIC) database</a></li>
        <% end %>
        <li><a target="_blank" href="https://api.trade-tariff.service.gov.uk/#gov-uk-trade-tariff-api">API Documentation</a></li>
      </ul>
    </div>
  </nav>
  <hr>
<% end %>

<% content_for :footer_support_links do %>
  <h2 class="visuallyhidden">Support links</h2>
  <ul>
    <li><a href="<%= terms_path %>">Terms and conditions</a></li>
    <li><a href="<%= cookies_path %>">Cookies</a></li>
    <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Government Digital Service</a>
    </li>
  </ul>
<% end %>

<% content_for :body_end do %>
  <%= javascript_include_tag "application" %>
<% end %>
